<div class="min-h-screen flex bg-white dark:bg-gray-800">
  <!-- Columna del formulario -->
  <div
    class="w-full bg-gray-50 dark:bg-gray-800 flex items-center justify-center py-6 px-3"
  >
    <div
      class="w-full max-w-md mx-4 bg-white dark:bg-gray-700 rounded-lg shadow-md p-8"
    >
      <!-- Encabezado con logo -->
      <div class="mb-8 text-center">
        <!-- Logo para modo claro -->
        <img
          src="/assets/images/logo.png"
          alt="Logo de la aplicación"
          class="w-32 mx-auto mb-6 dark:hidden"
        />
        <!-- Logo para modo oscuro -->
        <img
          src="/assets/images/logo-dark.png"
          alt="Logo de la aplicación"
          class="w-32 mx-auto mb-6 hidden dark:block"
        />

        <h1 class="font-semibold text-3xl text-gray-800 dark:text-white mb-4">
          Iniciar sesión
        </h1>
        <p class="text-sm text-gray-600 dark:text-gray-400">
          ¡Bienvenido de nuevo! <br />
          Ingresa tus credenciales para continuar.
        </p>
      </div>

      <!-- Formulario -->
      <form>
        <!-- Campo de correo electrónico -->
        <div class="mb-6">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
            >Correo electrónico*</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
            >
              <i
                class="fa-solid fa-envelope text-gray-500 dark:text-gray-400"
              ></i>
            </div>
            <input
              type="email"
              id="email"
              class="bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-500 text-slate-700 dark:text-white text-sm rounded-lg focus:ring-primary focus:border-primary block w-full pl-10 p-2.5"
              placeholder="correo@ejemplo.com"
              required
            />
          </div>
        </div>

        <!-- Campo de contraseña -->
        <div class="mb-6">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
            >Contraseña*</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
            >
              <i class="fa-solid fa-lock text-gray-500 dark:text-gray-400"></i>
            </div>
            <input
              type="password"
              id="password"
              class="bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-500 text-slate-700 dark:text-white text-sm rounded-lg focus:ring-primary focus:border-primary block w-full pl-10 p-2.5"
              placeholder="Ingrese su contraseña"
              required
            />
          </div>
        </div>

        <!-- Recordar sesión y Olvidaste tu contraseña -->
        <div class="flex items-center justify-between mb-6">
          <!-- Toggle Switch -->
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" id="remember" class="sr-only peer" />
            <div
              class="relative w-11 h-6 bg-gray-200 dark:bg-gray-600 rounded-full peer peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all peer-checked:bg-primary"
            ></div>
            <span class="ms-3 text-sm text-gray-700 dark:text-gray-300"
              >Recordar sesión</span
            >
          </label>

          <!-- Enlace "¿Olvidaste tu contraseña?" -->
          <a
            class="text-sm text-primary hover:text-primary-dark"
            href="/auth/restore-password"
          >
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <!-- Botón de Iniciar sesión -->
        <button
          routerLink="/dashboard"
          type="submit"
          class="w-full bg-primary text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-primary-dark focus:ring-4 focus:outline-none focus:ring-primary-light transition-all cursor-pointer"
        >
          Iniciar sesión
        </button>

        <!-- Divider -->
        <div class="my-6 border-t border-gray-200 dark:border-gray-600"></div>

        <!-- ¿No tienes una cuenta? -->
        <div class="text-center">
          <p class="text-sm text-gray-600 dark:text-gray-400">
            ¿No tienes una cuenta?
            <a
              href="/auth/register"
              class="text-primary hover:text-primary-dark font-medium"
              >¡Regístrate!</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
