<!-- Main Modal -->
<div
  id="create-update"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
>
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
    >
      <!-- Modal header -->
      <div
        class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            {{ data ? "Editar " + title : "Agregar " + title }}
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="create-update"
        >
          <i class="fas fa-times"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          @for (field of fields; track $index) {
          <div class="relative">
            <label
              [for]="field.name"
              [ngClass]="{
                'text-red-500':
                  dataForm.get(field.name)?.invalid &&
                  dataForm.get(field.name)?.touched,
                'text-gray-900 dark:text-white': !(
                  dataForm.get(field.name)?.invalid &&
                  dataForm.get(field.name)?.touched
                )
              }"
              class="block mb-2 text-sm font-medium"
            >
              {{ field.label }}
            </label>

            <div class="relative">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
              >
                <!-- Icono dinámico -->
                <i
                  class="{{
                    field.icon ? field.icon : defaultIcons[field.type]
                  }} text-gray-500 dark:text-gray-400"
                ></i>
              </div>

              <!-- Input dinámico -->
              @if (field.type !== 'select') {
              <input
                [id]="field.name"
                [type]="field.type"
                [formControlName]="field.name"
                [placeholder]="field.placeholder || ''"
                [required]="field.required ?? false"
                [attr.pattern]="field.pattern"
                [attr.min]="field.min"
                [attr.max]="field.max"
                [attr.minLength]="field.minLength"
                [attr.maxLength]="field.maxLength"
                [ngClass]="{
                  'bg-red-50 border-red-500 placeholder-red-500 focus:ring-red-400':
                    dataForm.get(field.name)?.invalid &&
                    dataForm.get(field.name)?.touched,
                  'border-gray-300 dark:border-gray-600': !(
                    dataForm.get(field.name)?.invalid &&
                    dataForm.get(field.name)?.touched
                  )
                }"
                class="w-full ps-10 p-2 border rounded-lg dark:text-white dark:bg-gray-700"
              />
              }

              <!-- Select dinámico -->
              @if (field.type === 'select') {
              <select
                [formControlName]="field.name"
                [ngClass]="{
                  'bg-red-50 border-red-500 placeholder-red-500 focus:ring-red-400 text-red-500':
                    dataForm.get(field.name)?.invalid &&
                    dataForm.get(field.name)?.touched,
                  'border-gray-300 dark:border-gray-600 dark:text-white': !(
                    dataForm.get(field.name)?.invalid &&
                    dataForm.get(field.name)?.touched
                  )
                }"
                class="w-full ps-10 p-2 border rounded-lg dark:bg-gray-700"
              >
                <option value="" disabled selected>
                  {{ field.placeholder }}
                </option>

                @for (option of field.options; track $index) {
                <option class="text-black dark:text-white" [value]="option">
                  {{ option }}
                </option>
                }
              </select>
              }
            </div>

            <!-- Mensajes de error -->
            @if (dataForm.get(field.name)?.invalid &&
            dataForm.get(field.name)?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @for (error of getFieldErrors(field.name); track $index) {
              <div>{{ error }}</div>
              }
            </div>
            }
          </div>
          }
        </div>

        <!-- Botones -->
        <div class="flex items-center space-x-4">
          <button
            type="submit"
            [disabled]="dataForm.invalid"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <i class="fas fa-save mr-2"></i>
            Guardar
          </button>
          @if (data) {
          <button
            type="button"
            (click)="delete()"
            class="text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
          >
            <i class="fas fa-trash mr-2"></i> Eliminar
          </button>
          }
        </div>
      </form>
    </div>
  </div>
</div>